.header-container {
    text-align: center;
  }
  
  .header {
    display: inline-block;
    /* background-color: #f0f0f0; */
    padding: 10px;
    border-radius: 5px;
  }
  
  .new-season-coming-discount-10-for-all-product-check-out-now-zJ9 {
    margin: 0;
  }
  
  .frame-1171274828-e7o {
    display: inline-block;
    background-color: #323232; /* Warna latar belakang hitam */
    color: white; /* Warna teks putih agar terlihat di atas latar belakang hitam */
    padding: 5px 10px; /* Padding untuk memberi jarak antara teks dan batas latar belakang */
    border-radius: 3px; /* Sudut melengkung pada latar belakang */
    margin-left: 10px; /* Sesuaikan margin sesuai kebutuhan */
    border-radius: 30px;
  }
  
  